<app-navbar></app-navbar>


<!--BOTONES DE ACCESO RÁPIDO-->
<div class="text-center mt-2 mb-2">
  <button class="btn btn-success btn-icon-split" data-bs-toggle="modal" data-bs-target="#addEvent">
    <span class="icon">
      <i class="fa fa-building" aria-hidden="true"></i>
    </span>
    <span class="text">Add Event</span>
  </button>
</div>
<hr>


<!--CARDS -->
<div  class="row justify-content-center px-4" *ngIf="events">
  <div *ngFor="let event of events" class="card m-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ event.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Type: {{event.typeEvent}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Description: {{event.description}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Date: {{event.dateEvent}}</h6>
      <div  class="text-center  ms-3">
        <button (click)="getEvent(event._id)"  data-bs-toggle="modal"
          data-bs-target="#updateEvent" class="btn btn-warning m-2" aria-controls="offcanvasExample">
          <i class="fa fa-pencil" aria-hidden="true">
          </i> Update
        </button>
        <button (click)="deleteEvent(event._id)" class="btn btn-danger"> <i class="fa fa-trash"
            aria-hidden="true"></i>
          Delete</button>
      </div>
    </div>
  </div>
</div>


<!--MODAL ADD -->
<div class="modal fade" id="addEvent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-building" aria-hidden="true"></i>
          &nbsp; Add Event:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addEventForm="ngForm">
          <div class="mb-3">
            <label for="nameTeam" class="form-label">Name</label>
            <input [(ngModel)]="event.name" name="name" type="text" class="form-control" id="nameTeam"
              aria-describedby="DateEventHelp">
          </div>
          <div class="mb-3">
            <label for="descriptionTeam" class="form-label">Description</label>
            <input [(ngModel)]="event.description" name="description" type="text" class="form-control"
              id="descriptionTeam">
          </div>
          <div class="mb-3">
            <label for="countryTeam" class="form-label">typeEvent</label>
            <input [(ngModel)]="event.typeEvent" name="typeEvent" type="text" class="form-control" id="countryTeam">
          </div>
          <div class="mb-3">
            <label for="countryTeam" class="form-label">DateEvent</label>
            <input [(ngModel)]="event.dateEvent" name="dateEvent" type="date" class="form-control" id="countryTeam">
          </div>
        </form>
      </div>
      <div class=" modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          <i class="fa fa-times-circle" aria-hidden="true"></i> Discard Save</button>
          <button (click)="addEvent(addEventForm)" type="submit" class="btn btn-success"
          data-bs-dismiss="modal"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Event
        </button>
      </div>
    </div>
  </div>
</div>


<!-- MODAL UPDATE COMPANY -->
<div class="modal fade" id="updateEvent" tabindex="-1" aria-labelledby="updateEvent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-pencil" aria-hidden="true"></i>
          Update Event:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateEvent()" *ngIf="eventGetId">
          <div class="mb-3">
            <label for="nameTeam" class="form-label">Name</label>
            <input [(ngModel)]="eventGetId.name" name="name" type="text" class="form-control" id="nameTeam"
              aria-describedby="DateEventHelp">
          </div>
          <div class="mb-3">
            <label for="descriptionTeam" class="form-label">Description</label>
            <input [(ngModel)]="eventGetId.description" name="description" type="text" class="form-control"
              id="descriptionTeam">
          </div>
          <div class="mb-3">
            <label for="countryTeam" class="form-label">typeEvent</label>
            <input [(ngModel)]="eventGetId.typeEvent" name="typeEvent" type="text" class="form-control" id="countryTeam">
          </div>
          <div class="mb-3">
            <label for="countryTeam" class="form-label">DateEvent</label>
            <input [(ngModel)]="eventGetId.dateEvent" name="dateEvent" type="date" class="form-control" id="countryTeam">
          </div>
          <div class=" modal-footer justify-content-center">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
              <i class="fa fa-times-circle" aria-hidden="true"></i> CANCEL</button>
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal"><i class="fa fa-floppy-o"
                aria-hidden="true"></i> UPDATE
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>