<app-navbar></app-navbar>

<div  class="text-center mt-2 mb-2">
    <button class="btn btn-outline-success btn-icon-split m-2" data-bs-toggle="modal" data-bs-target="#addHotel">
      <span class="icon">
        <i class="fa fa-building" aria-hidden="true"></i>
      </span>
      <span class="text">ADD HOTEL</span>
    </button>
  </div>
  <hr>

   <!-- Modal Save Hotel -->
 <div class="modal fade" id="addHotel" tabindex="-1" aria-labelledby="addHotelLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addHotelLabel">New Hotel:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <form #addHotelForm="ngForm"(ngSubmit)="saveHotel()">
            <div class="mb-3">
              <label for="form-label" class="form-label">Name</label>
              <input [(ngModel)]="hotel.name" name="name" type="text" class="form-control" >
            </div>
            <div class="mb-3">
              <label for="form-label" class="form-label">Address</label>
              <input [(ngModel)]="hotel.address" name="address" type="text" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Phone</label>
              <input [(ngModel)]="hotel.phone" name="phone" type="text" class="form-control">
            </div>
           
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button  type="submit" class="btn btn-primary" 
                data-bs-dismiss="modal">Save changes
              </button>
            </div>
          </form>
  
        </div>
        
      </div>
    </div>
  </div> 
  