<app-navbar></app-navbar>

<br>
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="search">
          <i class="fa fa-search"></i>
          <input  [(ngModel)]="searchUser" name="provider" type="text" class="form-control" placeholder="Search Users">

   
        </div>   
      </div>
    </div>
  </div>

<div class="text-center m-4">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">No </th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Entry/Outler</th>
                <th scope="col">Reserved Room</th>
                <th scope="col">Status</th>
                <th scope="col">Facture</th>
                <th scope="col">
                    Acctions
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-info-circle-fill ms-2" viewBox="0 0 16 16">
                        <path
                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                    </svg>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let i = index; let reservation of reservations | users:searchUser ; ">
                <th scope="row">{{ i+1 }}</th>
                <td>{{reservation.user.username}}</td>
                <td>{{reservation.user.email}}</td>
                <td>{{reservation.startDate}}/{{reservation.endDate}}</td>
                <td class="text-success">{{reservation.room.name}}</td>
                <td class="text-success">{{reservation.status}}</td>
                <td>
                    <svg  [routerLink]="['/invoice/' + reservation._id]" 
                    *ngIf="reservation.status == 'Invoiced'"
                    data-bs-toggle="modal" data-bs-target="#exampleModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text"
                        viewBox="0 0 16 16">
                        <path
                            d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        <path
                            d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                    </svg>
                </td>
                <td>
                    <svg  (click)="cancelReservation(reservation._id)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg>
                </td>
            </tr>
        </tbody>
    </table>
</div>

