<app-navbar></app-navbar>

<body>
    <br>
    <div class="card-container">
        <span class="pro">{{ userGetId.role }}</span>
        <img class="round" *ngIf="userImage" crossorigin="anonymous" src="{{ uri }}" alt="user image" />
        <h3>{{ userGetId.name }}</h3>
        <p>{{ userGetId.username}}</p>
        <p>{{ userGetId.email}}</p>
        <p>{{ userGetId.phone}}</p>
        
        <div class="buttons">
            <button (click)="getUser()"  class="primary ghost"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasGetUser"
            aria-controls="offcanvasGetUser" >
                Update
            </button>
            <a  (click)="deleteProfile()">  <button class="primary ghost m-2">
                Delete
             </button> </a>          
        </div>
    </div>  


    <!-- Off canvas update-->

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasGetUser" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Update profile</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form (ngSubmit)="updateProfile()" *ngIf="user">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input [(ngModel)]="user.name" name="name" type="text" class="form-control" id="name">
        </div>
        
        <div class="mb-3">
          <label class="form-label"> Username</label>
          <input [(ngModel)]="user.username" name="username" type="text" class="form-control" id="username">
        </div>
        <div class="mb-3">
          <label class="form-label"> Email</label>
          <input [(ngModel)]="user.email" name="email" type="text" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label class="form-label">Teléfono</label>
          <input [(ngModel)]="user.phone" name="phone" type="text" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">CANCEL</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="offcanvas">UPDATE</button>
      </div>
      </form>
    </div>
  </div>
    
</body>
