<app-navbar></app-navbar>

<body>
    <br>
    <div class="card-container">
        <span class="pro">{{ userGetId.role }}</span>
        <img *ngIf="userGetId.hasOwnProperty('image') == false"
        src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png" class="round">
        <img class="round" *ngIf="userImage" crossorigin="anonymous" src="{{ uri }}" alt="user image" />
        <h3>{{ userGetId.name }}</h3>
        <p>{{ userGetId.username}}</p>
        <p>{{ userGetId.email}}</p>
        <p>{{ userGetId.phone}}</p>
        
        <div class="buttons">
            <button (click)="getUser()"  class="primary ghost"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasGetUser"
            aria-controls="offcanvasGetUser" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-up-square-fill position-relative" viewBox="0 0 16 16">
                  <path
                    d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z" />
                </svg>
                <div class="tab-title">Update</div>
            </button>
            <a  (click)="deleteProfile()">  
              <button class="primary ghost m-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-trash3-fill position-relative" viewBox="0 0 16 16">
                  <path
                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                </svg>
                <div class="tab-title">Delete</div>
             </button> </a>          
        </div>
        <div *ngIf="token && identity.role === 'CLIENT'"  class="skills">
          <div  class="text-center  ms-3">
              <button (click)="getHotelsHistory()" class="btn btn-outline-warning btn-icon-split" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-split position-relative"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z" />
                </svg>
                <div class="tab-title">History</div>
                </button>
        
          </div>
      </div> 

    </div>  


    <!-- Off canvas update-->

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasGetUser" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Update profile</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form (ngSubmit)="updateProfile()" *ngIf="user">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input [(ngModel)]="user.name" name="name" type="text" class="form-control" id="name">
        </div>
        
        <div class="mb-3">
          <label class="form-label"> Username</label>
          <input [(ngModel)]="user.username" name="username" type="text" class="form-control" id="username">
        </div>
        <div class="mb-3">
          <label class="form-label"> Email</label>
          <input [(ngModel)]="user.email" name="email" type="text" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label class="form-label">Teléfono</label>
          <input [(ngModel)]="user.phone" name="phone" type="text" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">CANCEL</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="offcanvas">UPDATE</button>
          <button type="button" class="btn btn-outline-success mt-4 me-3" 
                data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Upload image
            </button>
      </div>
      </form>
    </div>
  </div>

  <!-- Modal upload image-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="image" class="form-label">Select image: </label>
          <input (change)="filesChange($event)" type="file" class="form-control" id="image">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="uploadImage()" type="button" data-bs-dismiss="modal" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal history -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div  class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> History</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Hotel</th>
              <th scope="col">Address</th>
              <th scope="col">Phone</th>
            </tr>
          </thead>
          <tbody *ngFor="let hotel of hotels; let i = index">
            <tr>
              <th scope="row">{{i + 1}}</th>
              <td>{{hotel.name}}</td>
              <td>{{hotel.address}}</td>
              <td>{{hotel.phone}}</td>
            </tr>
          
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
    
</body>
