<app-navbar></app-navbar>

<body>
    <br>
    <div class="card-container">
        <span class="pro">{{ userGetId.role }}</span>
        <img class="round" *ngIf="userImage" crossorigin="anonymous" src="{{ uri }}" alt="user image" />
        <h3>{{ userGetId.name }}</h3>
        <p>{{ userGetId.username}}</p>
        <p>{{ userGetId.email}}</p>
        <p>{{ userGetId.phone}}</p>
        
        <div class="buttons">
            <button class="primary ghost"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasGetUser"
            aria-controls="offcanvasGetUser" >
                Update
            </button>
            <a href="">  <button class="primary ghost m-2" (click)="deleteProfile()">
                Delete
             </button> </a>
           
        </div>

       <!-- <div class="skills">
            <h6>Skills</h6>
            <ul>
                <li>UI / UX</li>
                <li>Front End Development</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>React</li>
                <li>Node</li>
            </ul>
        </div> -->
    </div>  


    <!-- Off canvas update-->

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasGetUser" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Update profile</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form (ngSubmit)="updateProfile()" *ngIf="userGetId">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input [(ngModel)]="userGetId.name" name="name" type="text" class="form-control" id="name">
        </div>
        
        <div class="mb-3">
          <label class="form-label"> Username</label>
          <input [(ngModel)]="userGetId.username" name="username" type="text" class="form-control" id="username">
        </div>
        <div class="mb-3">
          <label class="form-label"> Email</label>
          <input [(ngModel)]="userGetId.email" name="email" type="text" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label class="form-label">Teléfono</label>
          <input [(ngModel)]="userGetId.phone" name="phone" type="text" class="form-control">
        </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Cancel</button>
          <button type="submit" class="btn btn-primary  m-1" data-bs-dismiss="offcanvas">Update</button> 
      </form>
    </div>
  </div>
    
</body>
