<app-navbar></app-navbar>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
   <div class="col-md-12">
      <div class="invoice">
         <!-- begin invoice-company -->
         <div class="invoice-company text-inverse f-w-600" *ngIf="reservation">
            <span class="pull-right hidden-print">
            <a href="javascript:;" class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-file t-plus-1 text-danger fa-fw fa-lg"></i> Export as PDF</a>
            <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> Print</a>
            </span>
            {{reservation.hotel.name}}
         </div>
         <!-- end invoice-company -->
         <!-- begin invoice-header -->
         <div class="invoice-header"  *ngIf="reservation">
            <div class="invoice-from">
               <small>Address</small>
               <address class="m-t-5 m-b-5">
                  <strong class="text-inverse"> {{reservation.hotel.address}}</strong><br>

                  Phone: (502) {{reservation.hotel.phone}}<br>

               </address>
            </div>
            <div class="invoice-to" *ngIf="invoiceId">
               <address class="m-t-5 m-b-5">
                  <strong class="text-inverse">Name: {{invoiceId.name}}</strong><br>
                  NIT: {{invoiceId.NIT}}<br>
                  Start Date: {{invoiceId.reservations.startDate}}<br>
                  End Date: {{invoiceId.reservations.endDate}}<br>

               </address>
            </div>
            <div class="invoice-date" *ngIf="invoiceId">
               <small>Invoice </small>
               <div class="date text-inverse m-t-5">Date: {{invoiceId.date}}</div>
               <div class="invoice-detail">
                  Serial {{invoiceId.serial}}<br>
                  Reservation of room and services
               </div>
            </div>
         </div>
         <!-- end invoice-header -->
         <!-- begin invoice-content -->
         <div class="invoice-content">
            <!-- begin table-responsive -->
            <div class="table-responsive">
               <table class="table table-invoice">
                  <thead>
                     <tr>
                        <th > Name </th>
                        <th> DESCRIPTION</th>
                        <th class="text-center" width="10%">Price</th>

                     </tr>
                  </thead>
                  <tbody>
                     <tr>

                        <td>
                           <span *ngIf="reservation" class="text-inverse">{{reservation.room.name}}</span><br>
                           <span *ngIf="reservation" class="text-inverse">{{reservation.service.name}}</span><br>
                        </td>
                        <td>
                           <span *ngIf="reservation" class="text-inverse">{{reservation.room.description}}</span><br>
                          
                        </td>
                        <td *ngIf="reservation" class="text-center">Q{{reservation.room.price}}.00</td>
 
                     </tr>
                     
                  </tbody>
               </table>
            </div>
            <!-- end table-responsive -->
            <!-- begin invoice-price -->
            <div class="invoice-price">
               <div class="invoice-price-left">
                  <div class="invoice-price-row">
                     <div class="sub-price" *ngIf="invoiceId">
                        <small>SUBTOTAL</small>
                        <span class="text-inverse">Q{{invoiceId.reservations.subtotal}}.00</span>
                     </div>
                     <div class="sub-price">
                        <i class="fa fa-plus text-muted"></i>
                     </div>
                     <div class="sub-price" *ngIf="invoiceId">
                        <small>IVA (12%)</small>
                        <span class="text-inverse">Q{{invoiceId.reservations.IVA}}.00</span>
                     </div>
                  </div>
               </div>
               <div class="invoice-price-right"  *ngIf="invoiceId">
                  <small>TOTAL</small> <span class="f-w-600">Q{{invoiceId.reservations.totalPrice}}.00</span>
               </div>
            </div>
            <!-- end invoice-price -->
         </div>
         <!-- end invoice-content -->
         <!-- begin invoice-note -->
         <div class="invoice-note">
            ¡Muchas gracias por preferirnos!
         </div>
         <!-- end invoice-note -->
         <!-- begin invoice-footer -->
    
         <!-- end invoice-footer -->
      </div>
   </div>
</div>