<app-navbar></app-navbar>

<body >
<!--  ------------------------Botón de agregar hotel si aun no tiene uno ----------->
  <div  *ngIf="!hotelGetId"class="text-center mt-2 mb-2">
    <button class="btn btn-outline-success btn-icon-split m-2" data-bs-toggle="modal" data-bs-target="#addHotel">
      <span class="icon">
        <i class="fa fa-building" aria-hidden="true"></i>
      </span>
      <span class="text">ADD HOTEL</span>
    </button>
  </div>
  <hr *ngIf="!hotelGetId">
    
  <!-- --------------------------Mostrar su hotel si posee uno----------------------- -->
 <div *ngIf="hotelGetId" class="card-container">

        <span class="pro">HOTEL</span>

        <img *ngIf="hotelGetId.hasOwnProperty('image') == false"
        src="https://img.unocero.com/2020/01/trivago-miente-usuarios-1024x576.jpg" class="round">
    <img *ngIf="hotelGetId.image" src="http://localhost:3200/hotel/getImage/{{ hotelGetId.image }}"
        crossorigin="anonymous" class="round" style="height: 100%;">
        <h3>{{hotelGetId.name}}</h3>
        <p>{{hotelGetId.address}}</p>
        <p>{{hotelGetId.phone}}</p>
        <p>Times Request: {{ hotelGetId.timesRequest}}</p>
        <p>ADMINISTRADOR: {{ hotelGetId.adminHotel.name}}</p> 

        
        <div class="buttons">
            <button (click)="getHotel()"class="primary ghost"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasGetUser"
            aria-controls="offcanvasGetUser" >
                Update
            </button>
            <a href="">  <button (click)="deleteHotel(hotelGetId._id)" class="primary ghost m-2" >
                Delete
             </button> </a>
             <button (click)="getHotel()" class="primary ghost m-2"data-bs-toggle="modal"
                data-bs-target="#modalUploadImage">Cambiar foto</button>
           
        </div> 
 
       <div class="skills">
            <div  class="text-center  ms-3">
                <button class="btn btn-outline-danger btn-icon-split"  [routerLink]="['/service/' + hotelGetId._id]">Services</button>
                <button class="btn btn-outline-success btn-icon-split m-2"  [routerLink]="['/event/' + hotelGetId._id]">Events</button> <br>
                <button class="btn btn-outline-primary btn-icon-split m-2" [routerLink]="['/rooms/' + hotelGetId._id]">Rooms</button>
                <button class="btn btn-outline-warning btn-icon-split m-2" [routerLink]="['/reservationAdminHotel/' + hotelGetId._id]">Reservations</button>

            </div>
        </div> 
    </div>  

   
</body>

<!-- Modal upload image-->
<div class="modal fade" id="modalUploadImage" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cambiar imagen</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                  <label for="image" class="form-label">Imagen: </label>
                  <input (change)="filesChange($event)" type="file" class="form-control" id="image">
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar</button>
              <button (click)="uploadImage()" type="button" data-bs-dismiss="modal"
                  class="btn btn-primary">Guardar</button>
          </div>
      </div>
  </div>
</div>

    <!-- Off canvas update-->

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasGetUser" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Update Hotel</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form (ngSubmit)="updateHotel()" *ngIf="hotel">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input [(ngModel)]="hotel.name" name="name" type="text" class="form-control" id="name">
        </div>
        
        <div class="mb-3">
          <label class="form-label"> Adrress</label>
          <input [(ngModel)]="hotel.address" name="adrress" type="text" class="form-control" id="username">
        </div>
        <div class="mb-3">
          <label class="form-label"> Phone</label>
          <input [(ngModel)]="hotel.phone"  name="email" type="text" class="form-control" id="email">
        </div>
        
          <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Cancel</button>
          <button type="submit" class="btn btn-primary  m-1" data-bs-dismiss="offcanvas">Update</button> 
      </form>
    </div>
  </div>

    <!-- Modal Save Hotel -->
 <div class="modal fade" id="addHotel" tabindex="-1" aria-labelledby="addHotelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addHotelLabel">New Hotel:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form #addHotelForm="ngForm"(ngSubmit)="saveHotel()">
          <div class="mb-3">
            <label for="form-label" class="form-label">Name</label>
            <input [(ngModel)]="hotel.name" name="name" type="text" class="form-control" >
          </div>
          <div class="mb-3">
            <label for="form-label" class="form-label">Address</label>
            <input [(ngModel)]="hotel.address" name="address" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Phone</label>
            <input [(ngModel)]="hotel.phone" name="phone" type="text" class="form-control">
          </div>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button  type="submit" class="btn btn-primary" 
              data-bs-dismiss="modal">Save changes
            </button>
          </div>
        </form>

      </div>
      
    </div>
  </div>
</div> 